@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName)
  @Html.TextBoxFor(model => model.RecipeName)

  @Html.LabelFor(model => model.RecipeIngredients)
  @Html.TextBoxFor(model => model.RecipeIngredients)

  @Html.LabelFor(model => model.RecipeInstructions)
  @Html.TextBoxFor(model => model.RecipeInstructions)


  <input type="submit" value="Add new recipe" class="btn btn-secondary" />
}
<p>@Html.ActionLink("Back to machines page", "Index")</p>