@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.RecipeName): @Html.DisplayFor(model => model.RecipeName)</h3>

<h3>@Html.DisplayNameFor(model => model.RecipeIngredients): @Html.DisplayFor(model => model.RecipeIngredients)</h3>

<h3>@Html.DisplayNameFor(model => model.RecipeInstructions): @Html.DisplayFor(model => model.RecipeInstructions)</h3>

<h3>@Html.DisplayNameFor(model => model.RecipeRating): @Html.DisplayFor(model => model.RecipeRating)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This recipe doesn't have any tags associated with it!</p>
}
else
{
  <h4>Tags associated with this recipe:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Tag.TagCategories</li>
    @using (Html.BeginForm("DeleteTag", "Recipes"))
    {
      @Html.Hidden("joinId", @join.RecipeTagId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Tag", "AddTag", new { id = Model.RecipeId })</p>

<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>