@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this Recipe: @Html.DisplayFor(model => model.RecipeName)</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.RecipeName)
  @Html.EditorFor(model => model.RecipeName)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to recipe page", "Index")</p>